@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/*font-Rubik*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.bg-nav {
  background-image: url(assets/bglg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-mob {
  background-image: url(assets/bgmob.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
